<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepreach.web.mapper.AgentCommissionSettlementMapper">

    <resultMap id="SettlementResultMap" type="com.deepreach.web.entity.AgentCommissionSettlement">
        <id column="settlement_id" property="settlementId"/>
        <result column="agent_user_id" property="agentUserId"/>
        <result column="agent_username" property="agentUsername"/>
        <result column="agent_role_keys" property="agentRoleKeys"/>
        <result column="request_amount" property="requestAmount"/>
        <result column="approved_amount" property="approvedAmount"/>
        <result column="status" property="status"/>
        <result column="approval_user_id" property="approvalUserId"/>
        <result column="approval_time" property="approvalTime"/>
        <result column="remark" property="remark"/>
        <result column="extra_data" property="extraData"/>
        <result column="network" property="network"/>
        <result column="address" property="address"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="BaseColumns">
        settlement_id,
        agent_user_id,
        request_amount,
        approved_amount,
        status,
        approval_user_id,
        approval_time,
        remark,
        extra_data,
        network,
        address,
        create_by,
        create_time,
        update_by,
        update_time
    </sql>

    <insert id="insert" parameterType="com.deepreach.web.entity.AgentCommissionSettlement" useGeneratedKeys="true" keyProperty="settlementId">
        insert into dr_agent_commission_settlement (
            agent_user_id, request_amount, approved_amount, status,
            approval_user_id, approval_time, remark, extra_data,
            network, address,
            create_by, create_time, update_by, update_time
        ) values (
            #{agentUserId}, #{requestAmount}, #{approvedAmount}, #{status},
            #{approvalUserId}, #{approvalTime}, #{remark}, #{extraData},
            #{network}, #{address},
            #{createBy}, #{createTime}, #{updateBy}, #{updateTime}
        )
    </insert>

    <update id="update" parameterType="com.deepreach.web.entity.AgentCommissionSettlement">
        update dr_agent_commission_settlement
        <set>
            <if test="requestAmount != null">request_amount = #{requestAmount},</if>
            <if test="approvedAmount != null">approved_amount = #{approvedAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="approvalUserId != null">approval_user_id = #{approvalUserId},</if>
            <if test="approvalTime != null">approval_time = #{approvalTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="extraData != null">extra_data = #{extraData},</if>
            <if test="network != null">network = #{network},</if>
            <if test="address != null">address = #{address},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = NOW()
        </set>
        where settlement_id = #{settlementId}
    </update>

    <select id="selectById" parameterType="long" resultMap="SettlementResultMap">
        select <include refid="BaseColumns"/>
        from dr_agent_commission_settlement
        where settlement_id = #{settlementId}
    </select>

    <select id="selectByAgentUserId" parameterType="long" resultMap="SettlementResultMap">
        select <include refid="BaseColumns"/>
        from dr_agent_commission_settlement
        where agent_user_id = #{agentUserId}
        order by create_time desc
    </select>

    <select id="selectByStatuses" parameterType="map" resultMap="SettlementResultMap">
        select
            s.settlement_id,
            s.agent_user_id,
            u.username as agent_username,
            roles.agent_role_keys,
            s.request_amount,
            s.approved_amount,
            s.status,
            s.approval_user_id,
            s.approval_time,
            s.remark,
            s.extra_data,
            s.network,
            s.address,
            s.create_by,
            s.create_time,
            s.update_by,
            s.update_time
        from dr_agent_commission_settlement s
        left join sys_user u on s.agent_user_id = u.user_id
        left join (
            select
                ur.user_id,
                group_concat(distinct r.role_key order by r.role_key) as agent_role_keys
            from sys_user_role ur
            join sys_role r on ur.role_id = r.role_id and r.del_flag = '0'
            group by ur.user_id
        ) roles on roles.user_id = s.agent_user_id
        <where>
            <if test="statuses != null and statuses.size() > 0">
                s.status in
                <foreach collection="statuses" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
        </where>
        order by s.create_time desc
    </select>

    <select id="searchAdminSettlements" resultMap="SettlementResultMap">
        select
            s.settlement_id,
            s.agent_user_id,
            u.username as agent_username,
            roles.agent_role_keys,
            s.request_amount,
            s.approved_amount,
            s.status,
            s.approval_user_id,
            s.approval_time,
            s.remark,
            s.extra_data,
            s.network,
            s.address,
            s.create_by,
            s.create_time,
            s.update_by,
            s.update_time
        from dr_agent_commission_settlement s
        left join sys_user u on s.agent_user_id = u.user_id
        left join (
            select
                ur.user_id,
                group_concat(distinct r.role_key order by r.role_key) as agent_role_keys
            from sys_user_role ur
            join sys_role r on ur.role_id = r.role_id and r.del_flag = '0'
            group by ur.user_id
        ) roles on roles.user_id = s.agent_user_id
        <where>
            <if test="settlementId != null">
                and s.settlement_id = #{settlementId}
            </if>
            <if test="agentUserId != null">
                and s.agent_user_id = #{agentUserId}
            </if>
            <if test="username != null and username != ''">
                and u.username like concat('%', #{username}, '%')
            </if>
            <if test="beginTime != null">
                and s.create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and s.create_time &lt;= #{endTime}
            </if>
        </where>
        order by s.create_time desc
    </select>

</mapper>
